body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 39px;
}

.name-color {
    color: orange;
}

.ok {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(39, 0, 148));
    color: rgb(252, 252, 252);
    border-radius: 10px;
    margin-top: 10px;
}

.top-benar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.med-baner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.ok-bro {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Expayanc-page {
    box-shadow: 10px 10px 40px gray;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 20px;

}

#full-stack {
    border-left: 10px solid rgb(192, 0, 0);
}

#baby-web {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
    color: grey;
    margin-top: 200px;
}